.page_wrapper {
    font-family: 'Aleo', serif;
    font-size: 14px;
    color: #FFF;
}

.container {
    width: 90%;
    max-width: 1320px;
    margin: 0 auto;
}

.header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/img/HeaderBackground.jpg);
}

.header_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 295px 0 0;

    .header_title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 48px;
        font-weight: 700;
        line-height: 52px; 
        text-transform: uppercase;
        padding-bottom: 10px;
    }

    .header_sub_title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 6.82px;
        padding-bottom: 48px;
    }
}

.search_form_wrap {
    padding-bottom: 210px;
}

form {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    width: 650px;
    padding-left: 36px;

    input[type=text] {
        width: 100%;
    }

    button[type=submit] {
        display: flex;
        gap: 12px;
        justify-content: center;
        padding: 16px 24px;
        margin: 4px 5px 4px 0;
        background-color: #5373FD;
        cursor: pointer;

        .search_text {
            font-family: 'Aleo', serif;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px; 
            letter-spacing: 1.4px;
            text-transform: uppercase;
        }

        .white_search_icon {
            width: 18px;
            height: 18px;
        }

        &:hover {
            background-color: #4260e1;
            transition: all .2s ease;
        }
    }

    input::placeholder {
        color:  #999;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: 2.8px;
    }
}

.scroll_wrap {
    padding-bottom: 120px;


    .scroll_link{
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;

        .scroll_text {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 2.8px;
        }
    
        .chevron_icon {
            width: 14px;
            height: 16px;
        }
    }
}

.main_nav {
    background-color: #5373FD;
    position: sticky;
    top: -1px;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 3;

    .nav_content {
        display: flex;
        justify-content: space-between;
        align-items: center;


        .nav_logo {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 24px;
            font-weight: 700;
            line-height: 28px; 
            letter-spacing: 2.4px;
            text-transform: uppercase;
        }

        .nav_list {
            display: flex;
            gap: 30px;
            align-items: center;
            .list_item {
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 1.4px;
                text-transform: uppercase;
                align-items: center;
                padding: 32px 0;

                .item_link {
                    padding: 33px 10px 34px;

                    &:hover {
                        background-color: #4260e1;
                        transition: all .3s ease;
                        border-radius: 65px 0 65px 0;
                    }
                }
            }
        }
    }
}

.why_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/img/WhyBackground.jpg);
}

.why_content {
    display: flex;
    align-items: center;
    padding: 125px 0;
    gap: 135px;

    .why_info_wrap {
        max-width: 648px;
        .why_title {
            font-size: 36px;
            font-weight: 400;
            line-height: 40px;
            text-transform: capitalize;
            margin-bottom: 24px;
        }

        .why_text {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px; 
            letter-spacing: 1.6px;
            margin-bottom: 32px;
        }

        .why_btn {
            padding: 20px 32px;
            background: rgb(83,115,253);
            background: linear-gradient(227deg, rgba(83,115,253,1) 60%, rgba(72,107,254,1) 60%);
            color: #FFF;
            font-size: 16px;
            font-weight: 400;
            line-height: 20px; 
            letter-spacing: 1.12px;
            text-transform: uppercase;
            font-family: 'Aleo', serif;
            cursor: pointer;

            &:hover {
                background: rgb(72,107,254,1);
                background: linear-gradient(227deg, rgba(72,107,254,1) 60%, rgba(83,115,253,1) 80%);
                transform: scale(1.1);
                transition: all .4s ease;
            }
        }
    }

    .why_pic_wrap {
        display: flex;
        flex-direction: column;
        max-width: 425px;
        width: 100%;
        gap: 16px;
        align-items: flex-start;

        img {
            max-width: 350px;
        }

        & img:last-child {
            align-self: flex-end;
        }
    }
}

.steps_section {
    background-color: #333;
    position: relative;
}

.line_icon {
    position: absolute;
    max-width: 870px;
    width: 100%;
    top: 140px;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%)
}

.steps_icon_wrap {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 125px 0 60px;
    position: relative;

    .icon_box {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 4px;
        max-width: 425px;
        width: 100%;
        position: relative;
        z-index: 2;

        .rectangle {
            width: 96px;
            height: 96px;
            background-color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;

            svg {
                width: 64px;
                height: 64px;
            }
        }

        .steps_text {
            font-family: 'Aleo', serif;
            font-size: 36px;
            font-weight: 400;
            line-height: 40px; 
            text-transform: capitalize;
        }
    }
}

.first_book_section  {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/img/BookBackground_01.jpg);
}

.second_book_section  {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/img/BookBackground_02.jpg);
}

.first_book_content,
.second_book_content {
    display: flex;

    .book_info_wrap {
        margin: 220px 0 120px;
        background: rgba(35, 35, 35, 0.90);
        width: 100%;
        max-width: 650px;
        padding: 44px 32px;

        .book_sub_title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 300;
            line-height: 28px; 
            letter-spacing: 2px;
            margin-bottom: 16px;
        }

        .book_title {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 28px; 
            text-transform: uppercase;
            margin-bottom: 16px;
        }

        .book_text {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 16px;
            font-weight: 300;
            line-height: 28px; 
            letter-spacing: 1.6px;
            margin-bottom: 16px;
        }

        .book_btn {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 1.12px;
            text-transform: uppercase;
            color: #FFF;
            font-family: 'Aleo', serif;
            padding: 20px 57px;
            background: rgb(83,115,253);
            background: linear-gradient(227deg, rgba(83,115,253,1) 60%, rgba(72,107,254,1) 60%);
            cursor: pointer;

            &:hover {
                background: rgb(72,107,254,1);
                background: linear-gradient(227deg, rgba(72,107,254,1) 60%, rgba(83,115,253,1) 80%);
                transform: scale(1.1);
                transition: all .4s ease;
            }
        }
    }
}

.second_book_content {
    justify-content: flex-end;
}

.what_section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../assets/img/WhatBackground.jpg);
}

.what_content {
    display: flex;
    align-items: center;
    flex-direction: column;

    .what_title {
        margin-top: 120px;
        font-family: 'Aleo', serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 40px; 
        text-transform: capitalize;
    }

    .what_info_wrap {
        display: flex;
        margin: 60px 0 180px;

        img {
            width: 100%;
            max-height: 100%;
            max-width: 440px;
            max-height: 285px;
        }

        .what_text_wrap {
            background-color: #333;
            padding: 48px 65px 48px 60px;
            width: 100%;
            max-width: 885px;

            .what_sub_title {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px; 
                text-transform: uppercase;
                margin-bottom: 16px;
            }

            .what_text {
                font-family: 'Josefin Sans', sans-serif;
                font-size: 16px;
                font-weight: 300;
                line-height: 28px;
                letter-spacing: 1.6px;

                .quote_icon {
                    width: 20px;
                    height: 20px;
                    margin: 0 7px 3px 0;
                }
            }
        }
    }
}

.footer {
    background-color: #000;
}

.footer_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;

    .footer_title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 28px; 
        letter-spacing: 2.4px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .footer_sub_title {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px; 
        letter-spacing: 2.8px;
        margin-bottom: 20px;
    }
}

.social_wrap {
    .social_list {
        display: flex;
        gap: 32px;

        svg:hover {
            --g1: #5373FD;
        }
    }
}

.facebook_icon {
    width: 20px;
    height: 32px;

}

.twitter_icon {
    width: 32px;
    height: 32px;
}

.linkedin_icon {
    width: 28px;
    height: 32px;
}

.youtube_icon {
    width: 36px;
    height: 32px;
}

.pinterest_icon {
    width: 31px;
    height: 32px;
}

.mobile {
    display: none;
}

// Tablet Styles
@media screen and (min-width: 577px) and (max-width: 991px) {
    .container {
        width: 90%;
        max-width: 990px;
        margin: 0 auto;
    }

    .mobile {
        display: block;
    }

    .header {
        margin-top: 54px;
    }

    .header_content {
        padding: 130px 0 0;
    }

    .main_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        z-index: 3;
    }

    form {
        width: 450px;
        padding-left: 13px;
    }

    button[type=submit] {
        justify-content: center;
        padding: 16px 20px;
        margin: 3px 4px 3px 0;
    }


    .nav_content {
        width: 100%;

        .hamburger {
            z-index: 4;
        }

        .nav_logo {
            padding: 13px 0;
        }

        .nav {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            width: 60%;
            background-color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            z-index: 3;
            transition: all ease .3s;
            transform: none;
    
            &.active {
                transform: translateX(100%);
            }
    
            .nav_list {
                color: #fff;
                flex-direction: column;
                gap: 20px;
    
                .list_item {
                    font-size: 22px;
                    padding: 15px 0;
    
                    .item_link {
                        padding: 15px 10px;
    
                        &:hover {
                            background-color: #333;
                            transition: none;
                            border-radius: none;
                        }
                    }
                }
            }
        }
    }    

    .nav_content.menu_open::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1;
        opacity: 1;
    }

    .why_content {
        flex-direction: column;
        padding: 65px 0;
        gap: 65px;

        .why_pic_wrap {
            max-width: none;
            align-items: center;

            img:last-child {
                align-self: auto;
            }
        }
    }

    .why_info_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why_text {
        text-align: center;
    }

    .line_icon {
        display: none;
    }

    .steps_icon_wrap {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }

    .first_book_content,
    .second_book_content {
        justify-content: center;

        .book_info_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 120px 0 120px;

            .book_text {
                text-align: center;
                margin-bottom: 25px;
            }
        }
    }

    .what_content {
        .what_info_wrap {
            flex-direction: column;
            align-items: center;
            gap: 40px;
            margin: 40px 0 120px;
        }
    }
}
// Mobile Styles
@media screen and (max-width: 576px) {
    .container {
        width: 90%;
        max-width: 576px;
        margin: 0 auto;
    }

    .mobile {
        display: block;
    }

    .header {
        margin-top: 54px;
    }

    .header_content {
        padding: 130px 0 0;
    }

    .header_sub_title {
        text-align: center;
    }

    .main_nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: auto;
        z-index: 3;
    }

    .search_form_wrap {
        padding-bottom: 120px ;
    }

    form {
        width: 147px;
        padding-left: 0;
        background: inherit;

        input[type=text] {
            display: none;
        }

        button[type=submit] {
            justify-content: center;
            padding: 16px 20px;
            margin: auto;
        }
    }

    .nav_content {
        width: 100%;

        .hamburger {
            z-index: 4;
        }

        .nav_logo {
            padding: 13px 0;
        }

        .nav {
            position: fixed;
            right: 0;
            top: 0;
            height: 100vh;
            width: 60%;
            background-color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            z-index: 3;
            transition: all ease .3s;
            transform: none;
    
            &.active {
                transform: translateX(100%);
            }
    
            .nav_list {
                color: #fff;
                flex-direction: column;
                gap: 20px;
    
                .list_item {
                    font-size: 15px;
                    padding: 15px 0;
    
                    .item_link {
                        padding: 15px 10px;
    
                        &:hover {
                            background-color: #333;
                            transition: none;
                            border-radius: none;
                        }
                    }
                }
            }
        }
    }    

    .nav_content.menu_open::after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .8);
        z-index: 1;
        opacity: 1;
    }

    .why_content {
        flex-direction: column;
        padding: 65px 0;
        gap: 65px;

        .why_pic_wrap {
            max-width: none;
            align-items: center;

            img:last-child {
                align-self: auto;
            }
        }
    }

    .why_info_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .why_text {
        text-align: center;
    }

    .line_icon {
        display: none;
    }

    .steps_icon_wrap {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
    }

    .first_book_content,
    .second_book_content {
        justify-content: center;

        .book_info_wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 120px 0 120px;

            .book_title {
                text-align: center;
            }

            .book_text {
                text-align: center;
                margin-bottom: 25px;
            }
        }
    }

    .what_content {
        .what_info_wrap {
            flex-direction: column;
            align-items: center;
            gap: 40px;
            margin: 40px 0 120px;

            .what_text_wrap {
                padding: 20px 20px;
            }
        }

        .what_title {
            text-align: center;
        }
    }
}