.page_wrapper {
  font-family: "Aleo", serif;
  font-size: 14px;
}

.container {
  width: 90%;
  max-width: 1320px;
  margin: 0 auto;
}

.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../assets/img/HeaderBackground.webp);
}

.header_content {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 295px 0 0;
}
.header_content .header_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.header_content .header_sub_title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 6.82px;
  padding-bottom: 48px;
}

.search_form_wrap {
  padding-bottom: 210px;
}

form {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 650px;
  padding-left: 36px;
}
form input[type=text] {
  width: 100%;
}
form button[type=submit] {
  display: flex;
  gap: 12px;
  justify-content: center;
  padding: 16px 24px;
  margin: 4px 5px 4px 0;
  background-color: #5373FD;
  cursor: pointer;
}
form button[type=submit] .search_text {
  font-family: Aleo;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
form button[type=submit] .white_search_icon {
  width: 18px;
  height: 18px;
}
form input::placeholder {
  color: #999;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}

.scroll_wrap {
  padding-bottom: 120px;
}
.scroll_wrap .scroll_link {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}
.scroll_wrap .scroll_link .scroll_text {
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.8px;
}
.scroll_wrap .scroll_link .chevron_icon {
  width: 14px;
  height: 16px;
}